/* #region common rules */
:root{
    --clr-primary:#1abd9d;
    --clr-secondary:#3b546c;
    --clr-secondary-dark:#2d3e51;
    --clr-dark:black;
    --clr-light:white;
}
img{
    max-width: 100%;
}
/* h1{
    font-size: 4rem;
}
h2{
    font-size:3rem;
}
p{
    font-size:1.375rem;
}

.jumbotron .details{
    font-size: 1.5rem;
} */

/* #endregion common rules */

/* #region utilities */
.fs_small{
    font-size:0.65rem;
}
/* #endregion utilities */

/* #region header */
header{
    background-color: var(--clr-secondary-dark);
}
/* #endregion header */

/* #region main */
section.jumbotron, section.about{
    background-color: var(--clr-primary);
}
#jumbotron_container{
    width:200px;
}
.container.border{
    max-width: 8rem;
}
section.about .border{
    width:10%;
    max-width: 4rem;
}
/* #endregion main */