/* #region common rules */
:root{
    --clr-primary:#1abd9d;
    --clr-secondary:#3b546c;
    --clr-secondary-dark:#2d3e51;
    --clr-dark:black;
    --clr-light:white;
}
img{
    max-width: 100%;
}
/* #endregion common rules */

/* #region utilities */
.border_width_sm{
    width:10%;
    max-width: 4rem;
}
.border_width_lg{
    max-width: 8rem;
}
/* #endregion utilities */

/* #region header */
header{
    background-color: var(--clr-secondary-dark);
}
/* #endregion header */

/* #region main */
#jumbotron_container{
    width:200px;
}
section.jumbotron, section.about, input[type="submit"], .contacts .btn{
    background-color: var(--clr-primary);
}
/* #endregion main */